<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modifyContract</title>
</head>
<a th:href="@{'/'}">Domov</a>

<body>
<form th:action="@{'/contract/modify/' +  ${person.ID} + '/' + ${contract.ID}}" th:object="${contract}" method="post">

    <label for="text">Dátum založenia</label>
    <input type="LocalDate" th:value="*{dateOfConclusion}" name="dateOfConclusion"/>
    <br><br>

    <label for="text">Začiatok platnosti</label>
    <input type="LocalDate" th:value="*{startOfInsurance}" name="startOfInsurance"/>
    <br><br>

    <label for="text">Koniec platnosti</label>
    <input type="LocalDate"  th:value="*{endOfInsurance}" name="endOfInsurance"/>
    <br><br>

    <label for="text">Maximálna suma</label>
    <input type="number" id="text" th:field="*{maxSumOfInsurance}" name="maxSumOfInsurance"/>
    <br><br>

    <label for="text">Mesačná splátka</label>
    <input type="number" th:field="*{monthlyPayment}" name="monthlyPayment"/>
    <br><br>

    <input type="submit" value="Potvrdiť"/>

</form>
</body>
</html>